
 @import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background: #00514b;
}
.container{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:100px auto;
    grid-auto-rows: auto;
}
#left, #right{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#left{
    display: flex;
    flex-direction: column;
    padding: 70px;
    word-spacing: 5px;
     font-family: "BBH Hegarty", sans-serif;
}
img{
    width: 500px;
    height: 470px;
    border-radius: 27% 73% 40% 60% / 60% 48% 52% 40% ;
    border: 1px solid white;
}
#nav{
    padding: 10px 80px;
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 2rem;
    font-family: "BBH Hegarty", sans-serif;
    cursor: pointer;
}
p{
    text-shadow: 2px 2px black;
    color: #FCB53B;
    letter-spacing: 2px;
}
.it-cont{
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style: none;
}
.it-cont li a{
    position: relative;
    font-family: "Momo Trust Display", sans-serif;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    transition: 0.5s all ease;
}
a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background: #f79a19;
    transition: all 0.3s ease;
}
.it-cont li a:hover{
    color: #f79a19;
}
.it-cont li a:hover::after{
    width: 100%;
}
.hi{
    line-height: 1.5;
    font-size: 2rem;
    color: #f79a19;
}
.text{
    font-size: 1.5rem;
    font-weight: 200;
    word-spacing: 4px;
    color: white;
}
svg{
    fill: #ffffff;
    cursor: pointer;
    width: 30px;
    display: none;
    height: 30px;
    margin: 10px;
}
svg:hover{
    fill: #f79a19;
}
.sidebar{
    backdrop-filter:blur(30px);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    z-index: 999;
    background-color: #0000004d;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    list-style: none;
    width: 100%;
    padding:10px 30px;
    transform: all 0.2s ease;
}
.sidebar li a{
    font-family: "Momo Trust Display", sans-serif;
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
    width: 100%;
}
.sidebar li a:hover{
    color: #f79a19;
}
.sidebar li a:hover::after{
    width: 100%;
}
         @media (max-width:850px){
                        svg{
                display: block;
            }


    .container{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .sidebar{
        width: 100%;
    }

    #left, #right{
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    img{
        width: 100%;
        height: auto;
    }

    #nav{
        grid-column: span 1;
        padding: 10px 20px;
    }
    .item{
                display: none;
            }
}
.edu{
    padding: 30px;
    line-height: 1.5;
    text-decoration: underline;
    font-size: 2rem;
    color: #f79a19;
}
.edu-p{
    padding: 10px;
    text-align: left;
    font-size: 1.3rem;
    word-spacing: 7px;
    letter-spacing: 1.3px;
    line-height: 1.4;
    color: #ffffff;
}
b{
    color: #DE802B;
}
.edu-li{
    padding: 10px;
    text-align: left;
    font-size: 1.3rem;
    word-spacing: 7px;
    letter-spacing: 1px;
    line-height: 1;
    color:white;
}
.h{
 color:#FCB53B;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.c-n,.c-e,.c-m{
    flex-direction: column;
    display: flex;
}
input{
    width: 300px;
    padding: 20px;
    border: 1px solid white;
    background-color: #0000004d;
    backdrop-filter: blur(30px);
    color: white;
    border-radius: 10px;
    outline: none;
}
input::placeholder{
    color: white;
}
textarea{
    padding: 30px;
    width: 300px;
    background-color: #0000004d;
    backdrop-filter: blur(30px);
    border-radius: 10px;
        border: 1px solid white;
    outline: none;
    font-size:1rem;
    color: white;
}
textarea::placeholder{
    color: white;
    font-size: 1rem;
}
button{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    color: white;
    font-size: 1rem;
    background: #f79a19;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
    transition: all 0.5s ease;
}
button:hover{
    color: #f79a19;
    background: white;
}


